/* 초기화 스타일 */
/* FULL HD */
@media (min-width: 1680px) {
    .reserv {
        grid-template-rows: 1.5fr 75px 1fr auto 1fr;
    }
}

/* HD */
@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    .reserv {
        grid-template-rows: 1.5fr 75px 1fr auto 1fr;
    }
}

/* Mobile 가로모드*/
@media only screen and (min-width: 768px) and (max-width: 1439px) {

}

/* Mobile 세로모드*/
@media only screen and (max-width: 767px) {

}
header {background-color: rgba(0,0,0,0.6);}
nav > .nav-bg.active {
    background-color: rgba(0,0,0,0.6);
}
.content {grid-area: content;}

/* 배너부분 */
.banner {width: 100%; height: 100%;} 
.banner > .banner_img {width: 100%; height: 100%;} /* 배너를 담는 div 크기를 최대로 지정. */
.banner > .banner_img > img {width:100%; height: 100%; object-fit:cover;} /* 배너안 이미지 크기를 최대로 지정 */
.banner > .banner_icon {display: flex; justify-content: space-around; width:100%; position: absolute; top: 50%;} /* 배너-> 화살표 영역 */

/* 예약부분 */
.reserv {

    display: grid;
    grid-template-areas: 
    ". . ."
    ". section1 ."
    ". . ."
    "section2 section2 section2"
    ". . .";
    grid-template-columns: 1fr 1200px 1fr;
    width: 100%;
    height: 100%;
    background: #07072b; 
    background-image:url('../images/bg/transparent-bg.png');
}

/* 첫번째 section 예매부분 */
.reserv > .reserv_section1 {grid-area: section1; display: flex; justify-content:space-evenly; background: black; border-radius: 10px;}
.reserv > .reserv_section1 > span {display: flex; color: #c5c5c5; align-items: center; justify-content: center;}
.reserv > .reserv_section1 > span:hover {cursor: pointer;}
.reserv > .reserv_section1 > span i {font-size: 40px; margin: 10px;}               /* font awesome 아이콘 사이즈 */
.reserv > .reserv_section1 > span div {justify-content: center; display: flex;}     /* 글꼴 설정 */
.reserv > .reserv_section1 > span div:nth-child(1) {color: #838383; font-size: 10pt;}       /* movie,Timetable,Ticketing */
.reserv > .reserv_section1 > span div:nth-child(2) {color: #ffffff; font-size: 13pt;}

.reserv > .reserv_section2 { grid-area: section2;
    display: grid;
    grid-template-areas: 
    ". more ."
    "left list right";
    grid-template-columns: 1fr 1200px 1fr;
    color: black;} 
.reserv > .reserv_section2 > .reserv_more 
{grid-area: more; display: flex; justify-content: flex-end; margin-bottom: 5px; color: #dbdbdb;} /* 더많은 영화 보기 */
.reserv > .reserv_section2 > .reserv_arrow_left {grid-area: left; display: flex; align-items: center; justify-content: flex-end; margin-right: 15px;}
.reserv > .reserv_section2 > .reserv_arrow_right {grid-area: right; display: flex; align-items: center; justify-content: flex-start; margin-left: 15px;}
.reserv > .reserv_section2 > .reserv_list {grid-area: list; display: flex; justify-content: space-between; align-items: center;}
.reserv > .reserv_section2 > .reserv_list .post_info {height: 70px; background-color: #ffffff; display: flex; flex-direction: column; justify-content: center;}
.reserv > .reserv_section2 > .reserv_list .post_info > div {font-size: 12.5pt; font-weight: bold; text-align: center;}
.reserv > .reserv_section2 > .reserv_list .post_info > span {text-align: center; color: #797979;} 
.reserv > .reserv_section2 > .reserv_list > span {margin: 0 0 0 0;}
.reserv > .reserv_section2 > .reserv_list > span > div > img {width: 270px;}
.reserv > .reserv_section2 > .reserv_list > span > div {display: flex; justify-content: center;}
.reserv > .reserv_section2 > .reserv_list > span > div > input         /* 예매버튼 */
    { width: 180px; height: 45px; border-radius: 5px; margin-top: 25px; box-shadow: 2px 2px 4px #07072e;
    background-color: #2b3380; color: #ffffff; font-size: 12pt; cursor: pointer; border-style: hidden;}


.qration {
    display: grid;
    grid-template-areas: 
    ". . ."
    ". qration_info ."
    "footer footer footer";
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 110px 1fr 180px;
    width: 100%;
    height: 100%;
    background:linear-gradient(to top, #252451 55%, #2b3380 45% );
}
.qration > .qration_info {grid-area: qration_info;}
.qration > .qration_info > .qration_content {
    display: grid;
    grid-template-areas:
    "title title title"
    "content . info"
    "content . ."
    "content . post";
    grid-template-rows: 70px 270px 0.2fr 400px;
    height: 100%;
    color: black;} 

.qration > .qration_info > .qration_content {color: #fff;}
.qration > .qration_info > .qration_content > .qration_title 
    {grid-area: title; width: 100%; display: flex; justify-content: space-between;}
.qration > .qration_info > .qration_content > .qration_title > .title {font-size: 25px; font-weight: 500; margin-left: 0; color: #dbdbdb;}
.qration > .qration_info > .qration_content > .qration_title > .more {color: #dbdbdb;}

.qration > .qration_info > .qration_content > .qration_main > div {justify-content: space-around;}
.qration > .qration_info > .qration_content > .qration_main > div > img {width: 300px; border-radius: 10px;} 
.qration > .qration_info > .qration_content > .qration_main > div > input
    {border-radius: 5px; width: 30%; height: 40px; color: #ffffff; margin-top: 10px; }
.qration > .qration_info > .qration_content > .qration_main > div > input:nth-child(1) 
    {background-color:rgba(0,0,0 ,0); border: 2px solid white;}
.qration > .qration_info > .qration_content > .qration_main > div > input:nth-child(2) 
    {background-color: #2065f2; border-style: hidden;} 

.qration > .qration_info > .qration_content > .qration_sub_info 
    { grid-area: info; font-size: 14px; font-weight: 300;}
.qration > .qration_info > .qration_content > .qration_sub_info > .tag {font-size: 15px; color: #adb4f8; line-height: 1.5;}
.qration > .qration_info > .qration_content > .qration_sub_info > .title 
    {font-size: 24px; font-weight: 700; border-bottom: 1px solid #5d64ab; line-height: 2.5;}
.qration > .qration_info > .qration_content > .qration_sub_info > div:nth-child(3) {line-height: 1.5;}
.qration > .qration_info > .qration_content > .qration_post
    { grid-area: post; flex-direction: row; align-items: center; font-size: 12px; margin-top: 10px;}
.qration > .qration_info > .qration_content > .qration_post > div {display: flex; flex-direction: column; margin-top: 10px; margin-right: 20px;}
.qration > .qration_info > .qration_content > .qration_post > div > div {text-align: center; line-height: 1.5;}
.qration > .qration_info > .qration_content > .qration_post > div > .icon {width: 40px; position:absolute; margin-top: -10px; margin-left: 5px;}
.qration > .qration_info > .qration_content > .qration_post > div > img {width: 170px; border-radius: 10px;}
