.member_login > .login_tab {display: flex; justify-content: center;}       /* 목록 탭 */
.member_login > .login_tab > div {width: 400px; height: 65px; display: flex; justify-content: center; align-items: center; 
    border: 1px solid #e0e0e0; margin-left: -1px; font-size: 13pt;}       /* 목록탭 버튼 */
.member_login > .login_tab > div.active 
    {background-color: #f3f3f3; border-bottom: 4px solid #2b3380; height: 62px; color: black;}
.member_login > .login_tab > div:last-child {color: #898989;}

.member_login > .welcom {display: flex; justify-content: center; margin: 70px 0 30px 0; font-size: 13pt; color: #727272;}

.member_login > .login_box              /* 로그인 박스 설정 */
    {margin: 0 auto; width: 800px; height: 330px; background-color: #f9f9f9; padding-top: 55px; margin-bottom: 90px;}
.member_login > .login_box > .chkbox > label { padding-right: 35px; color: #5a5a5a; }
.member_login > .login_box > .chkbox > label:first-child {margin-left: 110px;}
.member_login > .login_box > .chkbox > label > input {margin: 3px 5px 0px 5px;}
.member_login > .login_box > .chkbox > label:first-child {margin-left: 110px;}


.member_login > .login_box > .login_area > div:first-child {align-items: center; padding-left:120px;}
.member_login > .login_box > .login_area > div:first-child > input                    /* 이메일, 비번 입력 박스 */
    {padding-right: 120px; width: 370px; height: 40px; padding: 0 18px; font-size: 11pt; 
    box-sizing: border-box; border: 1px solid #DDD; margin-top: 15px; margin-left: -5                       px;}
.member_login > .login_box > .login_area > div:first-child > input + input {margin-top: 12px; }       /* 비번입력 */
.member_login > .login_box > .login_area > div:first-child > button                   /* 로그인 버튼 */
    {font-size: 13pt; width: 100px; height: 95px; color: #fff; background-color: #252451;}



    .member_login > .login_box > .login_area > .save {color: #898989;}


.member_login > .login_box > .click {}


