/* 초기화 스타일 */
/* DESK TOP */
@media only screen and (min-width: 1280px) {
    .banner {height: 100vh;}
}

/* Mobile 가로모드*/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.banner {height: 600px}
}

/* Mobile 세로모드*/
@media only screen and (max-width: 767px) {
    .banner {height: 600px}
}

header {background-color: rgba(0,0,0,0.6);}
nav > .nav_bg.active {
    background-color: rgba(0,0,0,0.6);
}
nav.active {background-color: rgba(0,0,0,0.9);}

.content {width:100%; margin-top: -60px;}
/* 배너부분 */
.banner {width: 100%; position: relative;} 
.banner > .banner_img > div{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition: opacity 0.3s;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
} /* 배너를 담는 div 크기를 최대로 지정. */
.banner > .banner_img > div.active {
    opacity:1;
}

.banner > .banner_icon {display: flex; justify-content:space-between; width: 90%; position: absolute; 
    top: 50%; margin-left: 5%; align-items: center; cursor:pointer;}

.banner > .banner_icon > div > img {height: 50px;}
/* 슬라이더 1 - 페이지 버튼 */
.banner > .dots {
    text-align:center;
    position:absolute;
    bottom:20px;
    left:0;
    width:100%;
}

.banner > .dots > div {
    width:20px;
    height:20px;
    margin: 1px;
    background-color:rgba(255,255,255,.5);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
}

.banner > .dots > div.active {background-color:rgba(255,255,255,1);} /* 활성화된 점*/
.banner > .video {visibility: hidden; position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;} /* 비디오 담는 div */
.banner > .video > div {padding: 10px; background-color: #fff; z-index: 1;} /* 비디오 내부 여백 */
.banner > .video > div > video {width: 800px; display: none;} /* 비디오 */
.banner > .video > .mask {position: absolute; background-color: #00000090; width: 100%; height: 100%; z-index: 0;} /* 뒷 배경 */

/* 예약부분 */
.reserv {
    background: #07072b; 
    background-image:url('../images/bg/transparent-bg.png');
    padding: 60px 0;
}

/* 첫번째 section 예매부분 */
.reserv > .reserv_section1 {width: var(--default--width); margin: 0 auto; display: flex; justify-content:space-evenly; background: black; margin-bottom: 80px;}
.reserv > .reserv_section1 > span {display: flex; color: #c5c5c5; align-items: center; justify-content: center;}
.reserv > .reserv_section1 > span:hover {cursor: pointer;}
.reserv > .reserv_section1 > span i {font-size: 35px; margin-right: 25px;}               /* font awesome 아이콘 사이즈 */
.reserv > .reserv_section1 > span div {justify-content: center; display: flex;}               /* 글꼴 설정 */
.reserv > .reserv_section1 > span div:nth-child(1) {color: #838383; font-size: 10pt;}       /* movie,Timetable,Ticketing */
.reserv > .reserv_section1 > span div:nth-child(2) {color: #ffffff; font-size: 13pt;}

.reserv > .reserv_section2 {width: var(--default--width); margin: 0 auto; position: relative;} 
.reserv > .reserv_section2 > .reserv_more 
{display: flex; justify-content: flex-end; margin-bottom: 15px; color: #dbdbdb; cursor:pointer} /* 더많은 영화 보기 */
.reserv > .reserv_section2 > .reserv_arrow_left {position: absolute; top:40%; left: -80px; cursor:pointer}
.reserv > .reserv_section2 > .reserv_arrow_right {position: absolute; top:40%; right: -80px; cursor:pointer}

/* .reserv > .reserv_section2 .reserv_list {display: flex; justify-content: space-between; align-items: center; overflow: hidden;}
.reserv > .reserv_section2 .reserv_list > div > div {width: 270px;} */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(1) {display: flex; justify-content: space-between; position: relative;}
.reserv > .reserv_section2 .reserv_list > div > :nth-child(1) > :nth-child(1) 
{position: absolute; width: 100%; height: 150px; top: 0; left: 0; font-size: 24pt; font-style: italic; color:#fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.8); background: url('../images/bg/bg-main-movie-rank.png') no-repeat; border-radius: 10px;}     /* 상영등급 */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(1) > :nth-child(1) > p {margin: 5px 10px;}
.reserv > .reserv_section2 .reserv_list > div > :nth-child(1) > :nth-child(2) {width: 100%; border-radius: 10px; cursor:pointer;}            /* 이미지 크기 */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(1) > :nth-child(3) {display: none;}     /* 상영등급 */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(2)
    {background-color: rgba(0,0,0,0.0); padding-top: 15px;}                    /* 영화 제목 타이틀 */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(2) > span 
    {display: block; text-align: center; font-size: 13pt; color: #fff; font-weight: bold; white-space:nowrap; text-overflow: ellipsis; overflow:hidden;}    /* 영화제목 */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(3)       /* 영화 서브 타이틀 */
    {background-color: rgba(0,0,0,0.0); padding: 5px 0 15px 0; font-size: 10pt; color: #fff; display: flex; justify-content: center; align-items: center;}
.reserv > .reserv_section2 .reserv_list > div > :nth-child(3) > span:nth-child(2) {padding: 0 5px;}                 /* | */
.reserv > .reserv_section2 .reserv_list > div > :nth-child(4) {display: flex; justify-content: center; ;}      /* 4번째 DIV(예매버튼) 정렬 */

.reserv > .reserv_section2 .reserv_list > div > :nth-child(4) > div 
    {background-color: #2b3380; width: 75%;  border-radius: 7px; border-style: none; color: #fff; height: 35px; border-radius: 0px; display: flex; justify-content: center; align-items:center;}   /* 버튼 설정 */

.reserv > .reserv_section2 .reserv_list > span {margin: 0 0 0 0;}
.reserv > .reserv_section2 .reserv_list > span > img {width: 270px;}
.reserv > .reserv_section2 .reserv_list > span > div {display: flex; justify-content: center;}
.reserv > .reserv_section2 .reserv_list > span > div > input         /* 예매버튼 */
    { width: 180px; height: 45px; border-radius: 5px; margin-top: 25px; box-shadow: 2px 2px 4px #07072e;
    background-color: #2b3380; color: #ffffff; font-size: 12pt; cursor: pointer; border-style: hidden;}

.qration {
    padding: 60px 0;
    background:linear-gradient(to top, #252451 50%, #2b3380 50% );
}
.qration > .qration_content {
    width: var(--default--width);
    margin: 0 auto;
    grid-area: qration_info;
    display: grid;
    grid-template-areas:
    "title title title"
    "content . info"
    "content . post";
    grid-template-columns: 300px auto 800px;
    grid-template-rows: 60px 300px auto;
    height: 100%;
    color: black;} 

.qration > .qration_content {color: #fff;}
.qration > .qration_content > .qration_title 
    {grid-area: title; width: 100%; display: flex; justify-content: space-between;}
.qration > .qration_content > .qration_title > .title {display: flex; align-items: center; font-size: 25px; font-weight: 500; color: #dbdbdb;}
.qration > .qration_content > .qration_title > .more {color: #dbdbdb; cursor: pointer;}
.qration > .qration_content > .qration_main {grid-area: content;}
.qration > .qration_content > .qration_main > div {display: flex; justify-content: space-between;}
.qration > .qration_content > .qration_main > div > img {width: 300px; border-radius: 10px;} 
.qration > .qration_content > .qration_main > div > input 
{display: flex; flex-direction: row; border-radius: 5px; height: 40px; color: #ffffff; margin-top: 20px; font-size:16px;}
.qration > .qration_content > .qration_main > div > input:nth-child(1)          /* 상세정보 */
    {background-color:rgba(0,0,0 ,0); border: 2px solid white; width: 47%; justify-content: center;}
.qration > .qration_content > .qration_main > div > input:nth-child(2)          /* 예매 */
    {background-color: #2065f2; border-style: hidden; width: 47%; justify-content: center;}

.qration > .qration_content > .qration_sub_info 
    { grid-area: info; font-size: 14px; font-weight: 300;}
.qration > .qration_content > .qration_sub_info > .tag {font-size: 15px; color: #adb4f8; line-height: 1.5; flex-wrap: nowrap;}
.qration > .qration_content > .qration_sub_info > .title 
    {font-size: 24px; font-weight: 700; border-bottom: 1px solid #5d64ab; line-height: 2.5;}
.qration > .qration_content > .qration_sub_info > div:nth-child(3) {padding-top: 13px; line-height: 1.5; height: 150px; overflow: hidden; font-size: 16px;}
.qration > .qration_content > .qration_post
    { grid-area: post; display: flex; justify-content: space-between; align-items: center; font-size: 12px; cursor:pointer;}
.qration > .qration_content > .qration_post > div {display: flex; flex-direction: column; margin-top: 10px;}
.qration > .qration_content > .qration_post > div > div {text-align: center; line-height: 3;}
.qration > .qration_content > .qration_post > div > .icon {width: 40px; position:absolute; margin-top: -10px; margin-left: 5px;}
.qration > .qration_content > .qration_post > div > img {width: 170px;}
