/* DESKTOP */
@media only screen and (min-width: 1280px) {
    .content {width: 1000px;}
    .detail_tab > .tab_title > div {width: 50%;}
    .movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > div {width: 30px;}
}

/* Mobile*/
@media only screen and (max-width: 1279px) {
    html {font-size: 20px;}
    .movie_info {flex-direction: column;}
    .movie_info > .detail_top > .title {justify-content: center;}
    .movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > div {width: 10%;}
    .movie_info > .detail_top > .info_area2 {flex-direction: column;}
    .movie_info > .detail_top > .info_area2 > .area2_section2 {justify-content: space-between; margin-top: 30px;}
    .detail_tab > .tab_title {flex-direction: column;}
    .detail_tab > .tab_title > div {width: 95%;}
    
}

.movie_info {display: flex; justify-content: space-around; align-items: center;}               /* movie_info > post - detail-top*/
.movie_info > .post {width: 25%;}
.movie_info > .post > img {height: 300px;}

.movie_info > .detail_top {width: 75%; /* margin-left: 90px; */}
.movie_info > .detail_top > .title {display: flex; margin-top: 10px;}
.movie_info > .detail_top > .title > span:nth-child(1) > img {padding-right: 10px;}
.movie_info > .detail_top > .title > span:nth-child(2) {font-size: 1.5rem; }

.movie_info > .detail_top > .info_area1 {display: flex; justify-content: space-between; padding: 35px 25px;   /* 여백 */
    border-bottom: solid 1px #ddd; padding-bottom: 30px;}

.movie_info > .detail_top > .info_area1 > .area1_section > p {margin-bottom: 10px;}
.movie_info > .detail_top > .info_area1 > .area1_section > div > span:nth-child(2) {font-size: 2.5rem; font-weight: bold; margin-left: 10px;}
.movie_info > .detail_top > .info_area1 > .area1_section > div > span:nth-child(4) {margin-left: 15px; font-weight: bold;}

.movie_info > .detail_top > .info_area2 {display: flex; justify-content: space-between; margin-top: 35px; }
.movie_info > .detail_top > .info_area2 > .area2_section1 {display: flex; flex-direction: column; font-size: 0.9167rem; width: 450px;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info {display: flex; margin-bottom: 10px;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > div {font-weight: bold; color: #1f1f1f;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > span 
    {margin-left: 10px; color: #707070; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info:nth-child(3) > span {width: 400px;}

.movie_info > .detail_top > .info_area2 > .area2_section2 {display: flex;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) 
    {width: 100px; height: 45px; box-sizing: border-box; border-radius: 35px;
    border: 1px solid #999; color: #303030; font-size: 1.0833; align-items: center; display: flex; justify-content: center;}

.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) > i {font-size: 1.5625rem; color: #999; cursor: pointer;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) > i.active {color: #ff0000;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) > span {font-size: 1.0833rem; margin-left: 5px;}

.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(2) {width: 160px; height: 45px; box-sizing: border-box; border-radius: 40px;
    border: 1px solid #2b3380; background-color: #2b3380; font-size: 14px; color: #fff; font-size: 1.0833rem; margin-left: 20px; 
    align-items: center; display: flex; justify-content: center; cursor: pointer;}


.detail_tab > .tab_title {display: flex; margin-top: 100px;}
.detail_tab > .tab_title > div {display: flex; justify-content: center; align-items: center;
    border-bottom: 1px solid #ccc; padding: 15px 0; color: #898989; font-size: 1rem;}
.detail_tab > .tab_title > div.active {border-bottom: 4px solid #777; color: #666;}

.detail_tab > .review_box > .grade  {display: flex; align-items: center; justify-content: center; margin: 35px 0; color: #333; height: 30px;}
.detail_tab > .review_box > .grade  > div {margin: 0px 5px; font-size: 0.9167rem; color: #333;}
.detail_tab > .review_box > .grade  > div > i {font-size: 1.4167rem; color: #ffa406;}
.detail_tab > .review_box > .grade  > div:nth-child(3) {font-size: 2.0833rem; font-weight: bold;}
.detail_tab > .review_box > .grade  > div:nth-child(4), div:nth-child(5) { align-self: flex-end;}

.detail_tab > .review_box > form {display: flex; border: 1px solid #ccc; box-sizing: border-box; height: 80px; margin-bottom: 55px;}
.detail_tab > .review_box > form > .star_score_box 
    {display: flex; flex-direction: column; justify-content: space-evenly; 
    flex-basis: 320px; border-right: 1px solid #ccc; background-color: #f8f8f8;}
.detail_tab > .review_box > form > .star_score_box > span 
    {display: flex; align-items: flex-end; justify-content: center; font-size: 1.4167rem; font-weight: bold;}    /* 5 */

.detail_tab > .review_box > form > .star_score_box > span > p {font-size: 0.9167rem; padding-left: 3px;}         /* 점 */
.detail_tab > .review_box > form > .star_score_box > .star > .active {color: #ffa406;}
.detail_tab > .review_box > form > .star_score_box > .star {color: #ccc; justify-content: center; display: flex;}
.detail_tab > .review_box > form > .star_score_box > .star > div {padding-right: 5px;}

.detail_tab > .review_box > form > .review_write_box 
    {flex-direction: column; display: flex; justify-content: space-between; flex-grow: 1; position: relative;}
.detail_tab > .review_box > form > .review_write_box > textarea 
    {width: 100%; height: 100%; border-style: none; padding: 10px 0 0px 10px; box-sizing: border-box; line-height: 1.5; overflow: hidden; resize: none;}
.detail_tab > .review_box > form > .review_write_box > textarea::placeholder { color: #bbb; font-size: 0.8333rem;}
.detail_tab > .review_box > form > .review_write_box > textarea:focus {outline: none;}
.detail_tab > .review_box > form > .review_write_box > .byte_info
    {margin: 0 10px 10px 0; font-size: 0.6875rem; color: #666; position: absolute; bottom: 0; right: 0;}

.detail_tab > .review_box > form > .review_btn {flex-basis: 120px; color: #fff; background-color: #666;
    display: flex; align-items: center; justify-content: center; border: none;}                   /* 관람평작성 */

.detail_tab > .review_box > .comment > .comment_title {display: flex; align-items: center; justify-content: space-between; 
    border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 90px;}
.detail_tab > .review_box > .comment > .comment_title > div {display: flex; margin: 0 20px; font-weight: 900; color: #777;}
.detail_tab > .review_box > .comment > .comment_title > div > div { margin: 0 10px; display: flex; align-items: center; cursor: pointer;}
.detail_tab > .review_box > .comment > .comment_title > div > div:nth-child(2) {margin-left: 20px;}
.detail_tab > .review_box > .comment > .comment_title > div i {font-size: 0.4375rem; color:#ddd; margin-right : 8px;}
.detail_tab > .review_box > .comment > .comment_title > div i.active {color: #FF7787;}


.detail_tab > .review_box > .comment > .review_comment > div {display: flex; align-items: center;  height: 120px; border-bottom: 1px solid #ddd;}
.detail_tab > .review_box > .comment > .review_comment > div > .cmt_icon {margin: 0 20px;}
.detail_tab > .review_box > .comment > .review_comment > div > .cmt_info 
    {display: flex; flex-direction: column; justify-content: space-evenly; font-size: 11pt;}
    .detail_tab > .review_box > .comment > .review_comment > div > .cmt_info > div {display: flex; margin: 3px 0px;}
.detail_tab > .review_box > .comment > .review_comment > div > .cmt_info > div > span {margin: 0 10px; color: #ddd;}
.detail_tab > .review_box > .comment > .review_comment > div > .cmt_info > div > div > i {color: #ffa406; margin: 0 5px;}