.movie > .movie_tab {display: flex;}       /* 목록 탭 */
.movie > .movie_tab > div {width: 33.3%; height: 65px; display: flex; justify-content: center; align-items: center; border: 1px solid #e0e0e0; 
    margin-left: -1px; font-size: 13pt; }                                        /* 목록탭 버튼 */
.movie > .movie_tab > div.active {background-color: #f3f3f3; border-bottom: 4px solid #2b3380; height: 62px; color: black;}
.movie > .movie_tab > div {color: #898989;}

.movie > .reserv_info_age {display: flex; align-items: center; margin-top: 30px; margin-right: 27px; font-size: 11pt; color: #666666;}
.movie > .reserv_info_age > div {display: flex; align-items: center; padding-right: 20px;}
.movie > .reserv_info_age > div > img {margin-right: 5px;}

.movie > .movie_list {display: flex; margin-top: 30px; flex-wrap: wrap;}        /* 영화 목록리스트 */
.movie > .movie_list > div {width: 20%; margin:20px 2.5%;}
.movie > .movie_list > div > :nth-child(1) {position: relative;}

.movie > .movie_list > div > :nth-child(1) > img:first-child {width: 100%; border-radius: 10px; cursor:pointer;}            /* 이미지 크기 */
.movie > .movie_list > div > :nth-child(1) > img:last-child {position: absolute; top: 8px; right: 8px;}     /* 상영등급 */
.movie > .movie_list > div > :nth-child(2) > span {display: block; text-align: center; font-size: 12.5pt;
    white-space:nowrap; text-overflow: ellipsis; overflow:hidden; margin: 15px 0 5px 0; font-weight: bold; color: #181717;}    /* 영화제목 */

.movie > .movie_list > div > :nth-child(3) {font-size: 10.5pt; color: #636363; display: flex; justify-content: center; align-items: center; margin-bottom: 15px;}    /* 예매정보 */
.movie > .movie_list > div > :nth-child(3) > span:nth-child(2) {padding: 0 5px;}
.movie > .movie_list > div > :nth-child(4) {display: flex; justify-content: space-between; margin-top: 10px;}     /* 버튼 정렬 */
.movie > .movie_list > div > :nth-child(4) > div 
    {height: 40px; border-radius: 7px; display: flex; justify-content: center; align-items:center; cursor:pointer;}   /* 버튼 설정 */
.movie > .movie_list > div > :nth-child(4) > div > i {margin-right: 5px; color: #000;}              /* 좋아요 아이콘 */
.movie > .movie_list > div > :nth-child(4) > div:nth-child(1) {width: 70px; border: 1px solid #ededed; color: #2b3380;} /* 좋아요 버튼 */
.movie > .movie_list > div > :nth-child(4) > div:nth-child(2) {width: 150px; background-color: #2b3380; border-style: none; color: #fff;}   /* 예매 버튼 */