.content {width: 1000px;}
.movie_info {display: flex; justify-content: space-around; align-items: center;}               /* movie_info > post - detail-top*/
.movie_info > .post {width: 25%;}
.movie_info > .post > img {height: 300px;}

.movie_info > .detail_top {width: 75%; /* margin-left: 90px; */}
.movie_info > .detail_top > .title {display: flex; margin-top: 10px;}
.movie_info > .detail_top > .title > span:nth-child(1) > img {padding-right: 10px;}
.movie_info > .detail_top > .title > span:nth-child(2) {font-size: 18pt; }

.movie_info > .detail_top > .info_area1 {display: flex; justify-content: space-between; padding: 35px 25px;   /* 여백 */
    border-bottom: solid 1px #ddd; padding-bottom: 30px;}

.movie_info > .detail_top > .info_area1 > .area1_section > p {margin-bottom: 10px;}
.movie_info > .detail_top > .info_area1 > .area1_section > div > span:nth-child(2) {font-size: 30pt; font-weight: bold; margin-left: 10px;}
.movie_info > .detail_top > .info_area1 > .area1_section > div > span:nth-child(4) {margin-left: 15px; font-weight: bold;}

.movie_info > .detail_top > .info_area2 {display: flex; justify-content: space-between; margin-top: 35px; }
.movie_info > .detail_top > .info_area2 > .area2_section1 {display: flex; flex-direction: column; font-size: 11pt;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info {display: flex; margin-bottom: 10px;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > div {font-weight: bold; color: #1f1f1f;}
.movie_info > .detail_top > .info_area2 > .area2_section1 > .sub_info > span {margin-left: 10px; color: #707070;}

.movie_info > .detail_top > .info_area2 > .area2_section2 {display: flex;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) {width: 100px; height: 45px; box-sizing: border-box; border-radius: 35px;
    border: 1px solid #2b3380; color: #303030; font-size: 13pt; align-items: center; display: flex; justify-content: center;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) > i {font-size: 25px; color: #ffa406;}
.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(1) > span {font-size: 13pt; margin-left: 5px;}

.movie_info > .detail_top > .info_area2 > .area2_section2 > div:nth-child(2) {width: 160px; height: 45px; box-sizing: border-box; border-radius: 40px;
    border: 1px solid #2b3380; background-color: #2b3380; font-size: 14px; color: #fff; font-size: 13pt; margin-left: 20px; 
    align-items: center; display: flex; justify-content: center;}


.detail_tab > .tab_title {display: flex; margin-top: 100px;}
.detail_tab > .tab_title > div {display: flex; justify-content: center; align-items: center; width: 50%; 
    border-bottom: 1px solid #ccc; padding-bottom: 15px; color: #898989;}
.detail_tab > .tab_title > div.active {border-bottom: 4px solid #2b3380; color: #000;}


.detail_tab > .tab_info1 {}


.detail_tab > .tab_info2 > .grade {display: flex; align-items: center; justify-content: center; margin: 35px 0; color: #333; height: 30px;}
.detail_tab > .tab_info2 > .grade > div {margin: 0px 5px; font-size: 11pt; color: #333;}
.detail_tab > .tab_info2 > .grade > div > i {font-size: 17pt; color: #ffa406;}
.detail_tab > .tab_info2 > .grade > div:nth-child(3) {font-size: 25pt; font-weight: bold;}
.detail_tab > .tab_info2 > .grade > div:nth-child(4), div:nth-child(5) { align-self: flex-end;}

.detail_tab > .tab_info2 > form {display: flex; border: 1px solid #ccc; height: 70px;}
.detail_tab > .tab_info2 > form > div:first-child {display: flex; flex-direction: column; justify-content: space-around; 
    flex-basis: 320px; border-right: 1px solid #ccc;}
.detail_tab > .tab_info2 > form > div:first-child > div {display: flex;}
.detail_tab > .tab_info2 > form > div:first-child > span {display: flex; align-items: flex-end; justify-content: center; font-size: 17pt; font-weight: bold;}
.detail_tab > .tab_info2 > form > div:first-child > span > p {font-size: 11pt; padding-left: 3px;}
.detail_tab > .tab_info2 > form > div > .star > .active {color: #ffa406;}
.detail_tab > .tab_info2 > form > div > .star {color: #ccc; justify-content: center;}
.detail_tab > .tab_info2 > form > div > .star > div {padding-right: 5px;}

.detail_tab > .tab_info2 > form > input {border-style: none; flex-grow: 1;}
.detail_tab > .tab_info2 > form > input:focus {outline: none;}

.detail_tab > .tab_info2 > form > div:last-child {flex-basis: 120px; border-left: 1px solid #ccc; color: #fff; background-color: #666;
    display: flex; align-items: center; justify-content: center;}

.detail_tab > .tab_info2 > .comment > .comment_title {display: flex; align-items: center; justify-content: space-between; 
    border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 90px; margin-top: 35px;}
.detail_tab > .tab_info2 > .comment > .comment_title > div {display: flex; margin: 0 20px; font-weight: 900; color: #777;}
.detail_tab > .tab_info2 > .comment > .comment_title > div > div { margin: 0 10px; display: flex; align-items: center;}
.detail_tab > .tab_info2 > .comment > .comment_title > div i {font-size: 7px; color:#ddd; margin : 0 5px; }
.detail_tab > .tab_info2 > .comment > .comment_title > div i.active {color: #2b3380;}

.detail_tab > .tab_info2 > .comment > .comment_info > div {display: flex;}

.detail_tab > .tab_info2 > .comment > .comment_info > div > .comment_info1 {}