.content {width: 1100px;}
p {display: inline;}
p::before{content: "|"; padding: 5px; font-size: 14px; vertical-align: middle;}

.user {display: flex; justify-content: space-between; height: 190px; margin-bottom: 60px; border: 3px solid #252451; padding: 30px; border-radius: 5px;}
.user > .profile {width: 400px; background-color: #f5f5f5; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.user > .profile > div {display: flex; justify-content: center; align-items: center; margin: 10px; width: 300px;}
.user > .profile > div > img {width: 75px; margin-right: 30px;}
.user > .profile > div > div {display: flex; flex-direction: column; justify-content: space-around; color:#454545; height: 100%;}
.user > .profile > div > div > .user_name {font-size: 16px;}
.user > .profile > div > div > .user_name > i {margin-left:5px; cursor:pointer;}
.user > .profile > div > div > .btn {font-size: 12px; display: flex; cursor:pointer;}
.user > .profile > div > div > .btn > div {margin-right: 10px;}
.user > .profile > div > div > .btn > div > i {margin-left: 7px;}
.user > .profile > .user_point {display: flex;}
.user > .profile > .user_point > div {display: flex; flex-direction: row; margin: 0 5px; font-size: 13px;}
.user > .profile > .user_point > div > span {margin-left: 10px;}
.user > .info {width: 600px; display: flex; flex-direction: column; justify-content: space-between;}
.user > .info > .title {font-size: 16px; background-color: #f5f5f5; padding: 10px 20px; color: #454545;}
.user > .info > .list {display: flex; justify-content: space-around; font-size: 14px; color: #454545;}
.user > .info > .list > div {display: flex; align-items: center; justify-content: center;}
.user > .info > .list > div > div:last-child {font-size: 16px; margin-left: 30px;}
.user > .info > .list > div > div {margin: 10px 0; display: flex; flex-direction: column; align-items: center;}
.user > .info > .list > div > div > i {font-size: 24px; margin-bottom: 10px;}
.ticket {width: 1000px; margin: 0 auto 100px auto;}

.ticket > .title {font-size: 16px;display: flex; justify-content: space-between; background-color: #ebebeb; padding: 10px 15px;}
.ticket > .title > div {color: #454545;}
.ticket > .title > div i {padding: 0 7px;}
.ticket > .info {display: flex; flex-direction: column;}
.ticket > .info > div {padding: 15px; display: flex; border-bottom: 2px solid #999999;}
.ticket > .info > div.h {display: none;}
.ticket > .info > div > img {width: 150px;}
.ticket > .info > div > div {flex-grow: 1; margin-left: 75px; display: flex; flex-direction: column; justify-content: space-around;}
.ticket > .info > div > div > div {display: flex; justify-content: space-between;  padding: 30px;}
.ticket > .info > div > div > div:first-child {border-bottom: 1px solid #000;}
.ticket > .info > div > div > div > div {width: 300px;}
.ticket > .info > div > div > div > div > div:first-child {font-size: 18px;}
.ticket > .info > div > div > div > div > div:last-child {font-size: 16px; color: #999999; display: flex; margin-top: 10px;}
.ticket > .info > div > div > div > div > div:last-child > span {width: 100px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.ticket > .info > div > div > div > div > div:last-child > div {width: 200px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

#like_plus,#reserv_plus,#ticket_plus {cursor:pointer;}
.reserv {width: 1000px; padding-bottom: 15px; margin: 0 auto;}
.reserv > .title {padding: 15px 10px; display: flex; justify-content: space-between; color: #454545;}
.reserv > .title > div > i {padding: 0 7px;}
.reserv > table {width: 100%; border-collapse: collapse; border-bottom: 2px solid #999999; font-size: 14px;}
.reserv > table tr {height: 40px;}
.reserv > table tr.h {display: none;}
.reserv > table tr td:first-child{width: 50px;}
.reserv > table tr:not(:first-child) {border-bottom: 1px solid #999999;}
.reserv > table td:nth-child(1) {width:5%}
.reserv > table td:nth-child(2) {width:40%}
.reserv > table td:nth-child(3) {width:40%}
.reserv > table td:nth-child(4) {width:15%}
.reserv > table tr td:first-child{text-align:center;}
.reserv > table th {text-align: left; background-color: #f5f5f5; padding: 8px;}
.reserv > table tr td div {background-color: #f5f5f5; font-size: 12px; display: inline; padding: 5px 7px; border-radius: 3px;}
.reserv > table tr td div.h {display: none;}
.reserv.like {border-bottom: 2px solid #999999;}
.reserv > .like {border-bottom: 2px solid #999999; margin-top: 60px;}
.reserv > .reserv_movie_list {display: flex; margin-top: 30px; flex-wrap: wrap;}   /* 영화 목록리스트 */
.reserv > .reserv_movie_list > div {width: 15%; margin:20px 2.5%;}
.reserv > .reserv_movie_list > div.h {display: none;}
.reserv > .reserv_movie_list > div > :nth-child(1) {position: relative;}
.reserv > .reserv_movie_list > div > :nth-child(1) > img:first-child {width: 100%; border-radius: 10px; cursor:pointer;}            /* 이미지 크기 */
.reserv > .reserv_movie_list > div > :nth-child(1) > img:last-child {position: absolute; top: 8px; right: 8px; width:16px;}     /* 상영등급 */
.reserv > .reserv_movie_list > div > :nth-child(2) > span {display: block; text-align: center; font-size: 12.5pt; font-weight: bold; 
    white-space:nowrap; text-overflow: ellipsis; overflow:hidden; margin: 15px 0 5px 0; font-weight: bold; color: #181717;}    /* 영화제목 */
.reserv > .reserv_movie_list > div > :nth-child(3) 
    {font-size: 10.5pt; color: #636363; display: flex; justify-content: center; align-items: center; margin-bottom: 15px;}    /* 예매정보 */
.reserv > .reserv_movie_list > div > :nth-child(3) > span:nth-child(2) {padding: 0 8px;}
