.content {display: flex; flex-direction: column;}
.reserv_title {background-color: #f3f3f3; color:#000; text-align: center; padding: 15px 0; font-size: 14pt; border-bottom: 4px solid #2b3380;}
.reserv_info {display: flex; margin:20px 0;}
.reserv_info > div {display: flex; align-items: center; width: 33%; margin: 0 10px;}
.reserv_info > .reserv_movie > div {display: flex; flex-direction: column; justify-content: space-between;}
.reserv_info > .reserv_movie > div > div {display: flex;}
.reserv_info > .reserv_movie > div > div > span {margin: 0 3px;}
.reserv_info > .reserv_movie > img {width: 50px; margin-right: 5px; border-radius: 5px;}
.reserv_info > .reserv_movie > div > .reserv_info_title {display: flex; align-items: center;}
.reserv_info > .reserv_movie > div > .reserv_info_title > img {margin-right: 5px;}
.reserv_info > .reserv_movie > div > .reserv_info_dateTime, 
.reserv_info > .reserv_movie > div > .reserv_info_location {font-size: 10pt;}

.reserv_info > .reserv_porson > div {margin: 0 10px;}
.reserv_info > .reserv_porson > .reserv_count {display: flex; border: 1px solid #d6d6d6; padding: 10px 10px; border-radius: 5px; color: #6b6b6b;}
.reserv_info > .reserv_porson > .reserv_count > div:nth-child(2) {margin: 0 25px; color:#000;}
.reserv_screen {width: 100%; background-color:#f3f3f3; color:#000;}
.reserv_screen > .reserv_screen_info {text-align: center; margin: 20px 0; font-size: 10pt;}
.reserv_screen > .reserv_screen_front {display: flex; background-color: #6b6b6b; justify-content: center; padding: 10px 0; margin:30px 0;}
.reserv_screen > .reserv_screen_front > p {margin: 0 10px;}
.reserv_screen > .reserv_seat {font-size: 9pt; margin-left: -50px; margin: 50px 0;}
.reserv_screen > .reserv_seat > div {display: flex; justify-content: center;}
.reserv_screen > .reserv_seat > div > div {margin: 5px; background-color: #999999; color:#fff; width: 20px; padding: 1px 0; border-radius: 5px 5px 0 0; text-align: center;}
.reserv_screen > .reserv_seat > div > div.active {background-color: #2b3380; color:#fff}
.reserv_screen > .reserv_seat > div > div.reserv {background-color: #2b2b2b; color:#fff}
.reserv_screen > .reserv_seat > div > div.disabled {background-color: #606060; font-size: 0;}
.reserv_screen > .reserv_seat > div > div:nth-child(1) {margin-right: 30px; background:none; color:#000;} 
.reserv_screen > .reserv_seat_info {margin-left: 50px; display: flex; align-items: center; padding-bottom: 30px;} 
.reserv_screen > .reserv_seat_info > span {width: 15px; height: 10px; margin-right: 5px;}
.reserv_screen > .reserv_seat_info > div {margin-right: 15px; font-size: 10pt;}
.reserv_screen > .reserv_seat_info > span {border-radius: 5px 5px 0 0;}
.reserv_screen > .reserv_seat_info > span:nth-child(1) {background-color: #2b3380;}
.reserv_screen > .reserv_seat_info > span:nth-child(3) {background-color: #999999;}
.reserv_screen > .reserv_seat_info > span:nth-child(5) {background-color: #2b2b2b;}
.reserv_screen > .reserv_seat_info > span:nth-child(7) {background-color: #606060;}
.reserv_pay {background-color: #6b6b6b; display: flex; justify-content: space-between; align-items: center; height: 70px; margin-bottom: 50px;}
.reserv_pay > div:nth-child(1) {display: flex; color:#fff; align-items: flex-end; margin-left: 30px;}
.reserv_pay > div:nth-child(1) > div {margin-left: 10px; font-size: 18pt; font-weight: bold;}
.reserv_pay > div:nth-child(1) > span {font-size: 12pt;}
.reserv_pay > div:nth-child(2) {background-color: #2b3380; height: 100%; width: 200px; display: flex; justify-content: center; align-items: center; color:#fff}
