.reserv > .reserv_tab {display: flex; width: 100%; justify-content: space-between; align-items: center;}
.reserv > .reserv_tab > div {width: 33.3%; height: 65px; display: flex; justify-content: center; align-items: center; 
    border: 1px solid #e0e0e0; font-size: 13pt; flex-direction: column; color: #898989;}   /* 목록탭 버튼 */
.reserv > .reserv_tab > div > span:first-child {font-size: 10pt; color: #a6a6a6;}
.reserv > .reserv_tab > div.active {background-color: #f3f3f3; border-bottom: 4px solid #2b3380; height: 62px; color:#000; }

.reserv > .reserv_info_age {display: flex; align-items: center; margin-top: 30px; margin-right: 27px; font-size: 11pt; color: #666666;}
.reserv > .reserv_info_age > div {display: flex; align-items: center; padding-right: 20px;}
.reserv > .reserv_info_age > div > img {margin-right: 5px;}

.reserv > article {display: none;}
.reserv > article.active {display: block}
.reserv > .movie_choice > .reserv_movie_tab {display: flex; margin-top: 30px; border-bottom: 1px solid #d8d9db; }
.reserv > .movie_choice > .reserv_movie_tab > div {padding: 10px 20px; margin: 0 20px;  color: #555555;  cursor: pointer;}
.reserv > .movie_choice > .reserv_movie_tab > div.active {border-bottom: 3px solid #2b3380;}
.reserv > .movie_choice > .reserv_movie_list {display: flex; margin-top: 30px; flex-wrap: wrap;}   /* 영화 목록리스트 */
.reserv > .movie_choice > .reserv_movie_list > div {width: 20%; margin:20px 2.5%;}
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(1) {position: relative;}
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(1) > img:first-child {width: 100%; border-radius: 10px; cursor:pointer;}            /* 이미지 크기 */
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(1) > img:last-child {position: absolute; top: 8px; right: 8px;}     /* 상영등급 */
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(2) > span {display: block; text-align: center; font-size: 12.5pt; font-weight: bold; 
    white-space:nowrap; text-overflow: ellipsis; overflow:hidden; margin: 15px 0 5px 0; font-weight: bold; color: #181717;}    /* 영화제목 */
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(3) 
    {font-size: 10.5pt; color: #636363; display: flex; justify-content: center; align-items: center; margin-bottom: 15px;}    /* 예매정보 */
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(3) > span:nth-child(2) {padding: 0 8px;}
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(4) {display: flex; justify-content: center;}  /* 버튼 정렬 */
.reserv > .movie_choice > .reserv_movie_list > div > :nth-child(4) > div 
    {width: 85%; background-color: #2b3380; border-style: none; color: #fff; height: 40px; 
    border-radius: 7px; display: flex; justify-content: center; align-items:center; cursor:pointer;}   /* 버튼 설정 */

.reserv > .theater_choice > div {display: flex; justify-content: space-between; margin: 30px 0; padding:30px 0; border-top: 1px solid #ededed;  border-bottom: 1px solid #ededed;}
.reserv > .theater_choice > div > .theater_movie {width: 20%; position: relative;}
.reserv > .theater_choice > div > .theater_movie > img:first-child {width: 100%; border-radius: 10px;}
.reserv > .theater_choice > div > .theater_movie > img:last-child {position: absolute; top:8px; right:8px;}
.reserv > .theater_choice > div > .theater_list {width: 75%; display: flex; flex-direction: column; font-size: 14px; color: #878787;}
.reserv > .theater_choice > div > .theater_list > .theater_list_title 
    {display: flex; margin: 10px; background-color: #e9e9e9; padding: 5px 10px; border: 1px solid #ebebeb}
.reserv > .theater_choice > div > .theater_list > .theater_list_title > span {margin: 0 5px;}
.reserv > .theater_choice > div > .theater_list > .theater_list_title > div {margin: 0 5px;}
.reserv > .theater_choice > div > .theater_list > .theater_list_title > div.active {color: #000;}
.reserv > .theater_choice > div > .theater_list > .theater_list_tab {display: flex; justify-content: flex-start; flex-wrap: wrap;}
.reserv > .theater_choice > div > .theater_list > .theater_list_tab > div 
    {width: 130px; height: 55px;border: 1px solid #2b3380; display: flex; justify-content: center; align-items: center; margin:10px 15px; color:#000; }
.reserv > .theater_choice > div > .theater_list > .theater_list_tab > div.disabled {background-color: #dbdbdb; color: #878787; border: 1px solid #ebebeb;}

.reserv > .datetime_choice > div {display: flex; justify-content: space-between; margin: 30px 0; padding:30px 0; border-top: 1px solid #ededed;  border-bottom: 1px solid #ededed;}
.reserv > .datetime_choice > div > .datetime_movie {width: 20%; position: relative;}
.reserv > .datetime_choice > div > .datetime_movie > img:first-child {width: 100%; border-radius: 10px;}
.reserv > .datetime_choice > div > .datetime_movie > img:last-child {position: absolute; top:8px; right:8px;}
.reserv > .datetime_choice > div > .datetime_list {width: 75%; display: flex; flex-direction: column; font-size: 14px; color: #878787;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_title 
    {display: flex; margin: 10px; background-color: #e9e9e9; padding: 5px 10px; border: 1px solid #ebebeb; color:#000;}

.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div {display: flex; margin:0 15px;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div {display: flex; padding: 30px 0; border-bottom: 1px solid #797979; }
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div > div {display: flex; height: 100px; align-items: center;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div:nth-child(1) {width: 300px;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div:nth-child(2) {width: 800px;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div:nth-child(1) > div:nth-child(1) {border:none; align-items: flex-start; justify-content: flex-start; font-size: 16px; color:#000;}
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div:nth-child(1) > div:nth-child(2) {background-color: #dbdbdb; border-style: none; margin: 0 10px; color:#000; font-size: 14px;}    
.reserv > .datetime_choice > div > .datetime_list > .datetime_list_tab > div > div > div {flex-basis: 100px; display: flex; margin-right: -1px; align-items: center;
    justify-content: center; flex-direction: column; border:1px solid #797979; height: 60px;}           