.content {grid-area: content; margin: 60px auto; width: 1000px;}
.reserv > .reserv_tab {display: flex; width: 100%; justify-content: space-between; align-items: center; margin-top: 60px;}
.reserv > .reserv_tab > div {width: 33.3%; height: 60px; display: flex; justify-content: center; align-items: center; border: 1px solid #ededed; margin-left: -1px; font-size: 20px; flex-direction: column;}   /* 목록탭 버튼 */
.reserv > .reserv_tab > div > span:first-child {font-size: 14px; color: #878787;}
.reserv > .reserv_tab > div.active {background-color: #dddddd; border-bottom: 2px solid #2b3380;}
.reserv > .reserv_info_age {display: flex; margin-top: 30px;}
.reserv > .reserv_info_age > div {display: flex; align-items: center; margin-right: 20px;}
.reserv > .reserv_info_age > div > img {margin-right: 5px;}
.reserv > .reserv_movie_tab {display: flex; margin-top: 30px; border-bottom: 1px solid #ededed;}
.reserv > .reserv_movie_tab > div {padding: 5px 10px; margin: 0 10px;}
.reserv > .reserv_movie_tab > div.active {border-bottom: 2px solid #2b3380;}
.reserv > .reserv_movie_list {display: flex; margin-top: 30px; flex-wrap: wrap;}   /* 영화 목록리스ㅌ */
.reserv > .reserv_movie_list > div {width: 20%; margin:20px 2.5%;}
.reserv > .reserv_movie_list > div > :nth-child(1) {position: relative;}
.reserv > .reserv_movie_list > div > :nth-child(1) > img:first-child {width: 100%;} /* 이미지 크기 */
.reserv > .reserv_movie_list > div > :nth-child(1) > img:last-child {position: absolute; top: 8px; right: 8px;}   /* 상영등급 */
.reserv > .reserv_movie_list > div > :nth-child(2) > span {display: flex; justify-content: center; font-size: 14px; font-weight: bold; white-space:nowrap; text-overflow: ellipsis; overflow:hidden;}    /* 영화제목 */
.reserv > .reserv_movie_list > div > :nth-child(3) {font-size: 14px; display: flex; justify-content: center; align-items: center;}    /* 예매정보 */
.reserv > .reserv_movie_list > div > :nth-child(3) > span:nth-child(2) {padding: 0 5px;}
.reserv > .reserv_movie_list > div > :nth-child(4) {display: flex; justify-content: center; margin-top: 10px;}  /* 버튼 정렬 */
.reserv > .reserv_movie_list > div > :nth-child(4) > div {width: 95%; background-color: #2b3380; border-style: none; color: #fff; height: 40px; border-radius: 10px; display: flex; justify-content: center; align-items:center;}   /* 버튼 설정 */
