/* 초기화 스타일 */
* {margin: 0 auto;}
li {display: inline;}
a {text-decoration: none; color: white;}
/* 헤더부분 */
header {background: gray; position: sticky; top: 0;}
nav {width: 100%; height: 63px; background-color: rgba(0,0,0, 0.6); position: absolute; border-bottom: 2px solid #353437;}
nav > ul {display: flex; align-items: center; width: 1200px;}
nav > ul .logo_w_blue {height: 35px; padding: 13px;}
nav > ul > li > a {padding: 0 40px 0 40px; font-size: 13pt;}
nav > ul > li > img {height: 20px; padding: 0 10px 0 10px;}

/* 배너부분 */
.banner {width:100%; overflow: hidden; display: flex; justify-content: center;}
.banner > img {height: 100vh;}
/* 배너-> 화살표 영역 */
.banner > div:nth-child(2) {display: flex; width:100%; position: absolute; top: 50%;}
/* 배너-> 스크롤 영역 */
.banner > div:nth-child(3) {right:15%; position: absolute; bottom:5%;}

/* ------------------------------------------------------------------ */

.reserv {height : 100vh; padding-top: 200px; background: #07072b; background-image:url('images/BG/transparent-bg.png');}

/* 첫번째 section 예매부분 */
.reserv > div:nth-child(1) {overflow: hidden; display: flex; width: 1100px; height:72px; background: black;}
.reserv > div:nth-child(1) > span {display: flex; color: #c5c5c5; align-items: center; justify-content: center;}
.reserv > div:nth-child(1) > span > span {margin: 10px;}
.reserv > div:nth-child(1) > span:nth-child(2), .reserv > div:nth-child(1) > span:nth-child(4) {margin: 0;}

.reserv > div:nth-child(1) > span i {font-size: 40px;}               /* font awesome 아이콘 사이즈 */
.reserv > div:nth-child(1) > span > span > div {justify-content: center; display: flex;}
.reserv > div:nth-child(1) > span div:nth-child(1) {color: #838383; font-size: 10pt;}
.reserv > div:nth-child(1) > span div:nth-child(2) {color: white; font-size: 13pt;}

/* section 02 포스트 슬라이드 부분 */
.reserv > div:nth-child(2) {display: flex; flex-direction: column; margin-top: 80px; color: white;}
.reserv > div:nth-child(2) > div:nth-child(2) {width: 1400px; height: 495px; margin-top: 50px; display: flex; justify-content: center; align-items: center;}
.reserv > div:nth-child(2) > div:nth-child(2) > img {margin:  0 20px 0 20px;}
.reserv > div:nth-child(2) > div:nth-child(2) > span > div {display: flex;}
.reserv > div:nth-child(2) > div:nth-child(2) > span > div > img {height: 480px; margin: 0 10px 0 10px;}
.reserv > div:nth-child(2) > div:nth-child(2) > span > div > input {width: 180px; height: 40px; margin-top: 25px;}



/* 큐레이션 부분 */
.qration {height : 100vh; padding-top: 120px; background: #2e2e63;}


/* 풋터부분 */
footer {background: black; color: white;}